.contact-icon{
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;

}
.contact-icon-link {
    height: 90%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: hsl(224, 98%, 58%);
    border-radius: 5px;

}
.contact-icon-function {
    display: flex;
    flex-direction: row;
}
